.flex{
    display: flex;
}
.videoCard{
    display: flex;
    flex-direction: column;
    min-width: 5rem;
    max-width: 20rem;
    width: 100%;
    gap: 4px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.videoCard:hover{
    opacity: 80%;
    cursor: pointer;
}
.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}
.channelImg {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 4px 12px;
}
.channelName{
    padding: 4px 0px 0px 4px;
    font-size: 1rem;
}
.videoTitle{
    padding: 4px 0 0 4px;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
}
.videoDetail{
    font-size: 0.8rem;
    display: flex;
    gap: 1rem;
    color: gray;
    padding: 0px 4px;
}
.threeDotMenu{
    cursor: pointer;
    margin: 4px;
}
.threeDotMenu:hover{
    opacity: 70%;
}
@media (max-width: 500px) {
  .videoCard {
    max-width: 100%;
  }
}
