.historyPage {
  margin: 0.5rem;
}
.count {
  font-size: 1.5rem;
  text-align: center;
}
.videoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
@media (max-width: 500px) {
  .videoContainer {
    display: block;
  }
}
