.playlistFlex {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .playlistFlex {
    display: block;
  }
}
.playlistCount {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}
