.videoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
@media (max-width: 500px) {
  .videoContainer {
    display: block;
  }
}
.playlistCount {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}
.button{
  padding: 4px 8px;
  background-color: var(--white);
  font-size: 1rem;
  border: 2px solid var(--color-dark-red);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-dark-red);
  text-align: end;
}
.button:hover{
  opacity: 0.75;
}
.buttonContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}