.videoContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
@media(max-width: 500px){
    .videoContainer{
        display: block;
    }   
}
.loaderContainer{
    margin: 1rem;
    text-align: center;
}